
  .jumbotron {
    background-image: url("../images/shark_image_3.jpg");
    background-size: cover;
    background-position: bottom;
    height: 400px;
  }
  
  .jumbotron h1 {
    color:white;
    background-color: transparent;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 60px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:white;
  }

  .jumbotron h3 {
    color:white;
    background-color: transparent;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 50px;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color:white;
  }
  .nav-item {
    color: white; 

  }